body {
    padding: 1em;
    background-color: #fff;
	text-align: center;
}

div {
margin-left: auto; 
margin-right: auto; 
padding-left: 8px;
padding-right: 8px;
text-align: left;
}

div.heading {
}

div.border{
    max-width: 40em;
    background-color: #ddf;
    border: 2px solid #aac;
    -moz-border-radius: 5px;
}

div.body{
    margin-top: 2em;
    max-width: 40em;
    border: 2px solid #aac;
    -moz-border-radius: 5px;
}

div.footer{
    margin-top: 3em;
    text-align: center;
    font-size: 80%;
    color: #999;
	line-height: 200%;
}

h2.title {
font-family: "Courier New", Courier, mono;
font-size: 200%;
font-style: normal;
font-weight: 700;
line-height:100%;
padding: 5px;
}

div.intro {
    padding: 0.5em;
    min-height: 4.5em;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

label
{
    padding-left: 1.5em;
	width: 100%;
}

p.submit {
    padding-left: 0.8em;
    margin-top: 2em;
}

input, select
{
  margin-left:0.1em;
  margin-right:3em;
  background-color: #ccf;
  border: 1px solid #781351; 
  float: right;
  text-align: right;
}

.submit input
{
    color: #fff;
    background-color: #56f;
    border: 2px outset #d7b9c9;
    float: none;
}

fieldset
{
    border: 1px solid #781351;
    margin: 0.8em;
    max-width: 35em;
}

legend
{
    margin-left: 0.3em;
    background-color: #56f;
    color: #fff;
    border: 1px solid #781351;
    padding: 2px 6px;
} 

